<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:block th:fragment="footer">
    <div class="_14r3G">
        <div class="_1El-8">
            <div class="_2azpq"><img src="/resources/ohana/img/5a087bcc3917e489e3d6b7e58cb9b113.svg">
            </div>
            <div class="MWFfY"><a target="_blank"
                                  href="https://www.ohanaliving.vn/terms-and-policies"><span>Điều khoản và chính
                                sách</span></a>
                <div><span>Copyright © DOONG.CO PTE. LTD - 2018 All Rights Reserved</span></div>
            </div>
        </div>
    </div>
</div>
<!--            fragment footer-->
<!--        <th:block th:insert="/ohana/layout/footer :: footer">-->