.show {
    display: block !important;
}
.hide {
    display: none;
}
header {
    background: #299be4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
}
header .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}
.selected-row{
    background-color: #e6f087;
}
.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
label.error {
    display: list-item;
    margin-top: 5px;
    color: #f80f25;
}
input.error {
    border: 1px solid red;
}
textarea.error {
    border: 1px solid red;
}
