<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:block th:fragment="modal-loading">
<div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="codepad-logo">
                <div class="logo"></div>
            </div>
        </div>
    </div>
</div>
</div>

