<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <style>
        .col-md-3 {
            float: left;
        }

        .pd-25 {
            padding-left: 50px;
            padding-right: 50px;
        }

        .pd {
            padding: 10px;
        }

        /*    css upload file*/
        .image_container {
            height: 120px;
            width: 200px;
            border-radius: 6px;
            overflow: hidden;
            margin: 10px;
        }

        .image_container img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        .image_container span {
            top: -6px;
            right: 8px;
            color: red;
            font-size: 28px;
            font-weight: normal;
            cursor: pointer;
        }

        .img_avatar {
            height: 120px;
            width: 200px;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">
<th:block th:replace="/ohana/layout/modal/modal-loading :: modal-loading"/>
<div class="container">
    <div class="_3bjUj ">
        <!--header-->
        <th:block th:replace="/ohana/layout/header :: header(${userLogin})"/>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="updateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cập nhật thông tin</h5>
                </div>
                <div class="modal-body">
                    <form id="frmUserUp">
                        <div>
                            <input type="text" name="idUp" id="idUp" hidden="true">
                        </div>
                        <div class="mb-3">
                            <label for="fullNameUp" class="form-label">Họ và tên</label>
                            <input type="text" class="form-control" id="fullNameUp" name="fullNameUp">
                        </div>
                        <div class="mb-3">
                            <label for="emailUp" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailUp" name="emailUp">
                        </div>
                        <div class="mb-3">
                            <label for="phoneUp" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneUp" name="phoneUp">
                        </div>
                        <div class="mb-3">
                            <label for="addressUp" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="addressUp" name="addressUp">
                        </div>
                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="descriptionUp" class="form-label">Thông tin chi tiết</label>-->
                        <!--                            <input type="text" class="form-control" id="descriptionUp" name="descriptionUp">-->
                        <!--                        </div>-->
                        <!--                        <div class="mb-3 form-check">-->
                        <!--                            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                        <!--                            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
                        <!--                        </div>-->
                        <button type="button" class="btn btn-primary btn-submit">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="_2fxFG" id="divCreate">
        <form action="" style="background-color: #FFFFFF" id="frmCreate">

            <h1 class="text-center" style="color: rgb(31, 113, 244)">Thông tin phòng</h1></br>
            <div class="modal-alert-danger hide">
                <!--                <label class="error">-->
                <!--                    Vui lòng hoàn thiện thông tin này-->
                <!--                </label>-->
            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Loại phòng</p>
                    <div id="kindOfRoom">
                    </div>

                </div>
            </div>
            <br>
            <!--            <div class="row justify-content-center">-->
            <!--                <div class="col-12">-->
            <!--                    <p class="fs-5">Số lượng phòng</p>-->
            <!--                    <input type="text" class="form-control" placeholder="Nhập số phòng bạn đang quản lý "-->
            <!--                           aria-label="First name">-->
            <!--            </div>-->

            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Sức chứa (người)</p>
                    <input type="number" name="capacity" id="capacity" class="form-control" placeholder="Nhập số người"
                           aria-label="First name">
                </div>
            </div>

            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Giới tính</p>
                    <div id="gender">
                    </div>

                </div>
            </div>

            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Diện tích (m<sup>2</sup>)</p>

                    <input type="number" class="form-control" placeholder="Nhập diện tích phòng" name="area" id="area"
                           aria-label="First name">
                </div>
            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Chi phí (VND)</p>
                    <input type="number" class="form-control" placeholder="Nhập giá cho thuê" name="price" id="price"
                           aria-label="First name">
                </div>
            </div>
            <div class="row justify-content-center pd-25">

                <div class="col-12">
                    <p class="fs-5">Địa chỉ</p>
                </div>
            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-3">
                    <label for="province" class="form-label">Tỉnh</label>
                    <select class="form-select" name="province" id="province">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="province" class="form-label">Quận/Huyện</label>
                    <select class="form-select" name="province" id="district">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="province" class="form-label">Xã/Thị trấn</label>
                    <select class="form-select" name="province" id="ward">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="locationDetail" class="form-label">Tên đường,số nhà</label>
                    <input type="text" class="form-control" name="locationDetail" id="locationDetail"
                           placeholder="28/Nguyễn Tri Phương">
                </div>
            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Tiện ích</p>
                    <div id="divUtilities" class="form-group"></div>

                </div>

            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Tiêu đề bài đăng</p>
                    <input type="text" name="title" id="title" class="form-control"
                           placeholder="Kí túc xá quận Thủ Đức">
                </div>
            </div>
            <div class="row justify-content-center pd-25">
                <div class="col-12">
                    <p class="fs-5">Mô tả thông tin chi tiết</p>
                    <textarea rows="5" id="description" name="description" class="form-control" placeholder="Ví dụ:
- Phòng trọ 30m2 đường Nguyễn Xí, Bình Thạnh

Nên viết tiếng Việt có dấu
Không:
      - Không chèn giá và số điện thoại ở tiêu đề"></textarea>
                </div>
            </div>
            <div class="row justify-content-center pd-25">
                <p for="coverImage" class="fs-5">Ảnh bìa</p>
                <div class="col-12 ">
                    <input type="file" class="form-control view-avatar" onchange="image_select_cover(this)"
                           name="coverImage"
                           id="coverImage">
                    <img id="img-preview" class="img-preview img_avatar"
                         src="/resources/ohana/img/imagedefault.jpg"/>
                </div>
            </div>
        </form>

    </div>

    <div class="container mt-3 w-100">
        <div class="card shadow-sm w-100">
            <div class="card-header d-flex justify-content-between">
                <h4>Danh sách ảnh</h4>
                <form class="form" action="#" method="post" id="form">
                    <input type="file" name="image" id="image" multiple="" class="d-none" onchange="image_select(this)">
                    <button class="btn btn-sm btn-primary" type="button"
                            onclick="document.getElementById('image').click()">Choose Images
                    </button>
                </form>
            </div>

            <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                <!-- image preview -->
            </div>
            <label id="checkQuantityImage"></label>
        </div>
    </div>
    <div class="text-center pd">
        <button type="button" id="btnPreview" class="btn btn-info">Xem trước</button>
        <button type="button" id="btnCreate" class="btn btn-primary">Đăng</button>
    </div>


    <!--</div>-->
</div>
<th:block th:replace="/ohana/layout/footer :: footer"/>

<th:block th:replace="/ohana/layout/script :: script"/>
<script>
    $(".view-avatar").change(function () {
        const src = URL.createObjectURL(this.files[0]);
        this.parentElement.getElementsByClassName('img-preview')[0].src = src;
    })
</script>
<script th:inline="javascript">


    let page = {
        url: {
            getAllPendingReview: App.BASE_URL_API + "/posts/list-post-pending-review",
            getAllCategories: App.BASE_URL_API + "/categories",
            getAllUtilities: App.BASE_URL_API + "/utilities",
            getAllGenders: App.BASE_URL_API + "/genders",
            getAllProvinces: App.BASE_URL_PROVINCE,
            doCreatePost: App.BASE_URL_API + "/posts/post-news",
            doUpdateUser: App.BASE_URL_API + "/user/update-user",
            doCreatePreview: App.BASE_URL_API + "/posts/post-preview",
            redirectAllListPost: App.DOMAIN + "/list-post",

        },
        element: {},
        loadData: {},
        commands: {},
        initializeControlEvent: {},

    }
    let user = new User();
    let post = new Post();
    let postDTO = new PostDTO();
    let rentHouseDTO = new RentHouseDTO();
    // let userDTO = new UserDTO();
    let locationDTO = new LocationDTO();
    let form = new FormData();

    let thisOnclick;

    $("#btnCreate, #btnPreview").on("click", (e) => {
        rentHouseDTO.capacity = +$("#capacity").val();
        rentHouseDTO.gender = +$('input[type="radio"][name="gender"]:checked').val();
        rentHouseDTO.area = $("#area").val();
        rentHouseDTO.price = +$("#price").val();

        locationDTO.provinceId = $("#province").val();
        locationDTO.provinceName = $("#province").find('option:selected').text();
        locationDTO.districtId = $("#district").val();
        locationDTO.districtName = $("#district").find('option:selected').text();
        locationDTO.wardId = $("#ward").val();
        locationDTO.wardName = $("#ward").find('option:selected').text();
        locationDTO.locationDetail = $("#locationDetail").val();
        postDTO.title = $("#title").val();
        postDTO.categoryId = +$('input[type="radio"][name="kindOfRoom"]:checked').val();
        postDTO.description = $("#description").val();
        postDTO.location = locationDTO;
        postDTO.rentHouse = rentHouseDTO;
        postDTO.poster = 1;
        postDTO.thumbnail = imageCover;
        postDTO.images = imageAdds;
        let favorite = [];
        $.each($("input[name='utilitiesCheckbox']:checked"), function () {
            favorite.push(+$(this).val());
        });

        postDTO.utilities = favorite;

        thisOnclick = $(e.target);
        $("#frmCreate").submit();
    })

    function doCreatePost(post) {
        $("#loadingModal").modal("show");
        $.ajax({
            type: "POST",
            url: page.url.doCreatePost,
            cache: false,
            contentType: false,
            processData: false,
            data: post
        }).done(function (mess) {
            $("#loadingModal").modal("hide");
            showSuccess(mess)
            location.href = page.url.redirectAllListPost;
        }).fail(function (x) {
            $("#loadingModal").modal("hide").then(function () {
                showError("Thêm bài viết không thành công")
            });
        })
    }

    function doCreatePreview(post) {
        $("#loadingModal").modal("show");
        $.ajax({
            type: "POST",
            url: page.url.doCreatePreview,
            cache: false,
            contentType: false,
            processData: false,
            data: post
        }).done(function (data) {
            $("#loadingModal").modal("hide");
            location.href = App.DOMAIN + "/room-preview/" + data;
        }).fail(function (x) {
            $("#loadingModal").modal("hide");
            showError("Xem trước không thành công")
        })
    }

    page.commands.getAllCategories = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllCategories
        }).done(function (data) {
            data.forEach(item => {
                let str = `
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="kindOfRoom" id="kindOfRoom_${item.id}"
                                   value="${item.id}">
                            <label class="form-check-label" for="kindOfRoom_${item.id}">${item.name}</label>
                        </div>
                    `;
                $("#kindOfRoom").append(str);
            });

        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllUtilities = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllUtilities
        }).done(function (data) {
            data.forEach((item, index) => {
                $('#divUtilities').append(`
                    <div class="col-md-3">
                        <label class="_22Yl9" id="${item.id}">
                            <span class="${item.icon}">
                                <span>${item.name}</span>
                            </span>
                            <input value="${item.id}" type="checkbox" name="utilitiesCheckbox">
                            <span class="_1akYM"></span>
                        </label>
                    </div>
                `);
            });


        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllGenders = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllGenders
        }).done(function (data) {
            data.forEach((item) => {
                let str = `  <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender_${item.id}"
                                   value="${item.id}">
                            <label class="form-check-label" for="gender_${item.id}">${item.name}</label>
                        </div>`;
                $("#gender").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }

    $("#province").on("change", function () {
        let provinceId = $("#province").val();
        page.commands.getAllDistrict(provinceId).then(() => {
            let districtId = $("#district").val();
            page.commands.getAllWard(districtId);
        });
    })

    $("#district").on("change", function () {
        let districtId = $("#district").val();
        page.commands.getAllWard(districtId);

    })


    page.commands.getAllProvince = () => {
        return $.ajax({
            type: "GET",
            url: page.url.getAllProvinces
        }).done(function (data) {
            let str;
            let provinces = data.results;
            $.each(provinces, (index, item) => {
                str += `
                <option value="${item.province_id}">${item.province_name}</option>
               `;
                $("#province").html(str);
                $("#provinceUp").html(str);
            })

        }).fail(function () {
            showError('Get all provinces fail')
        })
    }

    page.commands.getAllDistrict = (provinceId) => {
        return $.ajax({
            type: "GET",
            url: page.url.getAllProvinces + "/district/" + provinceId
        }).done(function (data) {
            let str;
            let districts = data.results;
            $.each(districts, (index, item) => {
                str += `
                <option value="${item.district_id}">${item.district_name}</option>
               `;
                $("#district").html(str);
                $("#districtUp").html(str);

            })

        }).fail(function () {
            showError('Get all district fail')
        })
    }

    page.commands.getAllWard = (districtId) => {
        $.ajax({
            type: "GET",
            url: page.url.getAllProvinces + "/ward/" + districtId
        }).done(function (data) {
            let str;
            let wards = data.results;
            $.each(wards, (index, item) => {
                str += `
                <option value="${item.ward_id}">${item.ward_name}</option>
               `;
                $("#ward").html(str);
                $("#wardUp").html(str);
            })
        }).fail(function () {
            showError('Get all ward fail')
        })
    }

    page.commands.handleImagePopup = () => {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img',
            image: {
                verticalFit: true
            },
            gallery: {
                enabled: true
            }
        });

        $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    }

    $("#frmCreate").validate({
        rules: {
            kindOfRoom: {
                required: true
            },
            capacity: {
                required: true,
                min: 1
            },
            gender: {
                required: true,
            },
            area: {
                required: true,
                min: 10
            },
            price: {
                required: true,
                maxlength: 9,
                min: 100000
            },
            locationDetail: {
                required: true,
            },
            title: {
                required: true,
                maxlength: 50,
            },
            description: {
                required: true,
                maxlength: 1500,
                minlength: 10,
            },
            coverImage: {
                required: true,
            }
        },
        messages: {

            kindOfRoom: {
                required: "Vui lòng chọn loại phòng</br>"
            },
            capacity: {
                required: "Vui lòng nhập sức chứa",
                min: "Số người phải lớn hơn 0"
            },
            gender: {
                required: "Vui chọn giới tính</br>",
            },
            area: {
                required: "Vui lòng nhập diện tích",
                min: "Diện tích phải lớn hơn 10 m2"
            },
            price: {
                required: "Vui lòng nhập giá",
                maxlength: "Vui lòng nhập giá ít hơn 999.999.999",
                min: "Giá phải từ 100.000 trở đi",
            },
            locationDetail: {
                required: "Vui lòng nhập địa chỉ cụ thể"
            },
            title: {
                required: "Vui lòng nhập tiêu đề",
                maxlength: "Vui lòng nhập ít hơn 50 kí tự",
            },
            description: {
                required: "Vui lòng nhập mô tả",
                maxlength: "Vui lòng nhập ít hơn 1500 kí tự",
                minlength: "Vui lòng nhập nhiều hơn 10 kí tự",
            },
            coverImage: {
                required: "Vui lòng chọn ảnh bìa",
            }
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio") && $(element).attr('id') === "kindOfRoom_1") {
                error.appendTo(element.parents('#kindOfRoom'));
            } else if (element.is(":radio") && $(element).attr('id') === "gender_1") {
                error.appendTo(element.parents('#gender'));
            } else { // This is the default behavior
                error.insertAfter(element);
            }
        },
        submitHandler: function () {
            $("#checkQuantityImage").html('');
            if (postDTO.images.length < 5) {
                let str = `<label id="title-error" class="error" for="title">Vui lòng chọn trên 5 ảnh</label>`;
                $("#checkQuantityImage").append(str);
            } else if (postDTO.images.length > 10) {
                let str = `<label id="title-error" class="error" for="title">Vui lòng chọn ít hơn 10 ảnh</label>`;
                $("#checkQuantityImage").append(str);
            } else {
                form.append('title', postDTO.title);
                form.append('categoryId', postDTO.categoryId);
                form.append('description', postDTO.description);
                form.append('thumbnail', postDTO.thumbnail);
                postDTO.images.forEach(item => {
                    form.append('images', item);
                });

                form.append('location.provinceId', postDTO.location.provinceId);
                form.append('location.provinceName', postDTO.location.provinceName);
                form.append('location.districtId', postDTO.location.districtId);
                form.append('location.districtName', postDTO.location.districtName);
                form.append('location.wardId', postDTO.location.wardId);
                form.append('location.wardName', postDTO.location.wardName);
                form.append('location.locationDetail', postDTO.location.locationDetail);

                form.append('rentHouse.price', postDTO.rentHouse.price);
                form.append('rentHouse.capacity', postDTO.rentHouse.capacity);
                form.append('rentHouse.area', postDTO.rentHouse.area);
                form.append('rentHouse.genderId', postDTO.rentHouse.gender);

                form.append('poster', postDTO.poster);

                form.append('utilities', postDTO.utilities);
                if (thisOnclick.text() === "Đăng") {
                    doCreatePost(form);
                } else {
                    doCreatePreview(form);
                }
            }


        }
    })
    $("#frmUserUp").validate({
        rules: {
            fullNameUp: {
                required: true
            },
            emailUp: {
                required: true
            },
            phoneUp: {
                required: true
            },
            addressUp: {
                required: true
            }
        },
        messages: {
            fullNameUp: {
                required: "Họ và tên không được để trống"
            },
            emailUp: {
                required: "Email không được trống"
            },
            phoneUp: {
                required: "Số điện không được trống"
            },
            addressUp: {
                required: "Địa chỉ không được trống"
            }
        },
        submitHandler: function () {
            $.ajax({
                type: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                url: page.url.doUpdateUser,
                data: JSON.stringify(user)
            }).done(function () {
                $("#updateUser").modal('hide');
                showSuccess('Update User Success')
            }).fail(function () {
                showError('Error')
            })
        }
    })

    page.loadData = () => {
        page.commands.getAllCategories()
        page.commands.getAllProvince().then(function () {
            let provinceId = 46;
            $("#province").val(46);
            page.commands.getAllDistrict(provinceId).then(() => {
                $("#district").val(474);
                let districtId = 474;
                page.commands.getAllWard(districtId).then(() => {
                    $("#ward").val(19801);
                });

            });
        });
        page.commands.getAllUtilities();
        page.commands.getAllGenders();
    }

    //view img
    var imageCover;
    var images = [];
    var imageAdds = [];

    function image_select_cover(el) {
        imageCover = $(el).prop('files')[0];
    }

    function image_select(el) {
        let image = document.getElementById('image').files;
        for (i = 0; i < image.length; i++) {
            if (check_duplicate(image[i].name)) {
                images.push({
                    "name": image[i].name,
                    "url": URL.createObjectURL(image[i]),
                    "file": image[i],
                })
                let imageAdd = $(el).prop('files')[i];
                imageAdds.push(imageAdd);
            } else {
                alert(image[i].name + " is already added to the list");
            }
        }
        document.getElementById('form').reset();
        document.getElementById('container').innerHTML = image_show();
    }

    function image_show() {
        var image = "";
        images.forEach((i, index) => {
            image += `<div class="image_container d-flex justify-content-center position-relative">
   	  	  	  	  <img class="list-img" src="` + i.url + `" alt="Image">
   	  	  	  	  <span  onclick="delete_image(` + images.indexOf(i) + `)">&times;</span>
   	  	  	  </div>`;

        })
        return image;
    }

    function delete_image(e) {
        images.splice(e, 1);

        imageAdds.splice(e, 1);

        document.getElementById('container').innerHTML = image_show();
    }

    function check_duplicate(name) {
        var image = true;
        if (images.length > 0) {
            for (e = 0; e < images.length; e++) {
                if (images[e].name == name) {
                    image = false;
                    break;
                }
            }
        }
        return image;
    }

    function get_image_data() {
        var form = new FormData()
        let fileReader = new FileReader();
        for (let index = 0; index < images.length; index++) {
            form.append('images', images[index]['file']);
            // fileReader.readAsDataURL(images[index]);
            // form.append("file[" + index + "]", images[index]['file']);
        }

        return form;
    }

    function doUpdateUser() {
        $(".btn-submit").on("click", () => {
            user.id = $("#idUp").val();
            user.fullName = $("#fullNameUp").val();
            user.email = $("#emailUp").val();
            user.phone = $("#phoneUp").val();
            user.description = $("#descriptionUp").val();
            user.address = $("#addressUp").val();
            $("#frmUserUp").submit();
        })
    }

    function ShowModalUpdateUser(user) {
        $("#updateUser").modal("show");
        $("#idUp").val(user.id);
        $("#fullNameUp").val(user.fullName);
        $("#emailUp").val(user.email);
        $("#phoneUp").val(user.phone);
        $("#addressUp").val(user.address);
        $("#descriptionUp").val(user.description);
        doUpdateUser();
    }

    $(function () {
        let checkInformation = [[${checkInformation}]];
        if (!checkInformation) {
            user = [[${users}]];
            ShowModalUpdateUser(user);
        }
        page.loadData();
    })

</script>
</body>

</html>